h1 {
    color: peachpuff;
    text-align: center;
}
body {
    background-color: #333;
}
p {
    font-size: 20px;
    color: #ddd;
}

#color-namer{
  text-align: center;
}
.red {
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 100px;
    border-radius: 10px;

}
.red:hover {
    background-color: #ff6666;
}
.yellow {
    background-color: yellow;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 100px;
    border-radius: 10px;


}
.yellow:hover {
    background-color: #ffff80;
}
.green {
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 100px;
    border-radius: 10px;


}
.green:hover {
    background-color: #009900;
}
.blue {
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 100px;
    border-radius: 10px;


}
.blue:hover {
    background-color: #4d4dff;
}

.pink {
    background-color: pink;
    height: 100px;
    width: 100px;
    display: inline-block;
    padding: 100px;
    border-radius: 10px;


}
.pink:hover {
    background-color: LightPink;
}
